body {
    background-color: gray;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    height: fit-content;
    width: 24%;
    height: 100px;
}