a {
    text-decoration: none;
    color: black;
    border: 1px solid black;

    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

body {
    background-color: gray;
}

a:hover {
    cursor: pointer;
}

.resetBtn {
    float: right;
    color: red;
}
.infoBtn {
    float: right;
}

div {
    border: 1px solid black;
    width: 500px;
}